In [5]:
import pandas as pd

finals_mvp = pd.read_csv(
    "/Users/lautarocardinisilvestri/Downloads/Ironhack/Semana 4/Proyecto NBA/NBA Finals and MVP.csv"
)

finals_mvp.head()

,index,Year,Western Champion,Eastern Champion,Result,NBA Champion,NBA Vice-Champion,Final Sweep ?,MVP Name,MVP Height (m),MVP Height (ft),MVP Position,MVP Team,MVP Nationality,MVP status
0,0,1950,Minneapolis Lakers,Syracuse Nationals,4–2,Minneapolis Lakers,Syracuse Nationals,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1951,Rochester Royals,New York Knicks,4–3,Rochester Royals,New York Knicks,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1952,Minneapolis Lakers,New York Knicks,4–3,Minneapolis Lakers,New York Knicks,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1953,Minneapolis Lakers,New York Knicks,4–1,Minneapolis Lakers,New York Knicks,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1954,Minneapolis Lakers,Syracuse Nationals,4–3,Minneapolis Lakers,Syracuse Nationals,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
finals_mvp.info()
finals_mvp.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              69 non-null     int64
 1   Year               69 non-null     int64
 2   Western Champion   69 non-null     object
 3   Eastern Champion   69 non-null     object
 4   Result             69 non-null     object
 5   NBA Champion       69 non-null     object
 6   NBA Vice-Champion  69 non-null     object
 7   Final Sweep ?      69 non-null     bool
 8   MVP Name           63 non-null     object
 9   MVP Height (m)     63 non-null     float64
 10  MVP Height (ft)    63 non-null     float64
 11  MVP Position       63 non-null     object
 12  MVP Team           63 non-null     object
 13  MVP Nationality    63 non-null     object
 14  MVP status         63 non-null     object
dtypes: bool(1), float64(2), int64(2), object(10)
memory usage: 7.7+ KB

Index(['index', 'Year', 'Western Champion', 'Eastern Champion', 'Result',
       'NBA Champion', 'NBA Vice-Champion', 'Final Sweep ?', 'MVP Name',
       'MVP Height (m)', 'MVP Height (ft)', 'MVP Position', 'MVP Team',
       'MVP Nationality', 'MVP status'],
      dtype='object')

In [8]:
titles = {
    "Michael Jordan": 6,
    "Kobe Bryant": 5,
    "LeBron James": 4
}

goat_scaled["TITLES"] = goat_scaled["PLAYER_NAME"].map(titles)

NameError: name 'goat_scaled' is not defined