In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import time # TIME PROCESSING
import os # LOADING & EXPORTING DATA
import datetime

In [2]:
#IMPORTAMOS LAS BASES DE DATOS EN NUESTRO NOTEBOOK

In [3]:
games = pd.read_csv("/Users/lautarocardinisilvestri/Downloads/Ironhack/Semana 4/Proyecto NBA/NBA_GAMES.csv")
players = pd.read_csv("/Users/lautarocardinisilvestri/Downloads/Ironhack/Semana 4/Proyecto NBA/NBA_PLAYERS.csv")
player_games = pd.read_csv("/Users/lautarocardinisilvestri/Downloads/Ironhack/Semana 4/Proyecto NBA/NBA_PLAYER_GAMES.csv")
teams = pd.read_csv("/Users/lautarocardinisilvestri/Downloads/Ironhack/Semana 4/Proyecto NBA/NBA_TEAMS.csv")

In [4]:
##INSTALAMOS LA API DE DATOS DE NBA, LA CUAL NOS VA A SERVIR PARA EXTRAER NUESTROS DATOS

In [5]:
%pip install nba_api

Requirement already satisfied: nba_api in /opt/anaconda3/lib/python3.13/site-packages (1.11.3)
Requirement already satisfied: numpy>=2.1.0 in /opt/anaconda3/lib/python3.13/site-packages (from nba_api) (2.3.5)
Requirement already satisfied: pandas>=2.2.0 in /opt/anaconda3/lib/python3.13/site-packages (from nba_api) (2.3.3)
Requirement already satisfied: requests<3.0.0,>=2.32.3 in /opt/anaconda3/lib/python3.13/site-packages (from nba_api) (2.32.5)
Requirement already satisfied: charset_normalizer<4,>=2 in /opt/anaconda3/lib/python3.13/site-packages (from requests<3.0.0,>=2.32.3->nba_api) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.13/site-packages (from requests<3.0.0,>=2.32.3->nba_api) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.13/site-packages (from requests<3.0.0,>=2.32.3->nba_api) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.13/site-packages (from requests<3.0.0,>=2.32.3->nba_api) (2025.11.12)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.13/site-packages (from pandas>=2.2.0->nba_api) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.13/site-packages (from pandas>=2.2.0->nba_api) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.13/site-packages (from pandas>=2.2.0->nba_api) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas>=2.2.0->nba_api) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
from nba_api.stats.endpoints import playercareerstats
import pandas as pd

#PARA NUESTRO ANÁLISIS DE LOS GOATS, AVERIGUAMOS SUS ID'S EN LA CSV PLAYERS

In [7]:
GOATs_IDS = {
    "Michael Jordan": "893",
    "Kobe Bryant": "977",
    "LeBron James": "2544"
}

In [8]:
##CREAMOS LA FUNCION DE STATS PARA ACCEDER A LOS DATOS DE LOS TRES JUGADORES Y CREAR UN DF CORRESPONDIENTE DE CADA UNO

In [9]:
def GOATs_stats(player_name, player_id):
    carrera = playercareerstats.PlayerCareerStats(player_id=player_id)
    df = carrera.get_data_frames()[0]
    df["PLAYER_NAME"] = player_name
    return df

In [10]:
jordan_df = GOATs_stats("Michael Jordan", GOATs_IDS["Michael Jordan"])
kobe_df = GOATs_stats("Kobe Bryant", GOATs_IDS["Kobe Bryant"])
lebron_df = GOATs_stats("LeBron James", GOATs_IDS["LeBron James"])

In [11]:
lebron_df.head()

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLAYER_NAME
0,2544,2003-04,00,1610612739,CLE,19.0,79,79,3120,622,...,99,333,432,465,130,58,273,149,1654,LeBron James
1,2544,2004-05,00,1610612739,CLE,20.0,80,80,3388,795,...,111,477,588,577,177,52,262,146,2175,LeBron James
2,2544,2005-06,00,1610612739,CLE,21.0,79,79,3361,875,...,75,481,556,521,123,66,260,181,2478,LeBron James
3,2544,2006-07,00,1610612739,CLE,22.0,78,78,3190,772,...,83,443,526,470,125,55,250,171,2132,LeBron James
4,2544,2007-08,00,1610612739,CLE,23.0,75,74,3027,794,...,133,459,592,539,138,81,255,165,2250,LeBron James

In [12]:
kobe_df.head()

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLAYER_NAME
0,977,1996-97,00,1610612747,LAL,18.0,71,6,1102,176,...,47,85,132,91,49,23,112,102,539,Kobe Bryant
1,977,1997-98,00,1610612747,LAL,19.0,79,1,2056,391,...,79,163,242,199,74,40,157,180,1220,Kobe Bryant
2,977,1998-99,00,1610612747,LAL,20.0,50,50,1896,362,...,53,211,264,190,72,50,157,153,996,Kobe Bryant
3,977,1999-00,00,1610612747,LAL,21.0,66,62,2524,554,...,108,308,416,323,106,62,182,220,1485,Kobe Bryant
4,977,2000-01,00,1610612747,LAL,22.0,68,68,2783,701,...,104,295,399,338,114,43,220,222,1938,Kobe Bryant

In [13]:
jordan_df.head()

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLAYER_NAME
0,893,1984-85,00,1610612741,CHI,22.0,82,82,3144,837,...,167,367,534,481,196,69,291,285,2313,Michael Jordan
1,893,1985-86,00,1610612741,CHI,23.0,18,7,451,150,...,23,41,64,53,37,21,45,46,408,Michael Jordan
2,893,1986-87,00,1610612741,CHI,24.0,82,82,3281,1098,...,166,264,430,377,236,125,272,237,3041,Michael Jordan
3,893,1987-88,00,1610612741,CHI,25.0,82,82,3311,1069,...,139,310,449,485,259,131,252,270,2868,Michael Jordan
4,893,1988-89,00,1610612741,CHI,26.0,81,81,3255,966,...,149,503,652,650,234,65,290,247,2633,Michael Jordan

In [14]:
##UNIMOS LAS 3 TABLAS DE LOS JUGADORES EN UNA SOLA A LOS FINES DE TENER UNA Y EXTRAER LA INFORMACIÓN NECESARIA

In [15]:
goat_career_df = pd.concat(
    [jordan_df, kobe_df, lebron_df],
    ignore_index=True
)

goat_career_df.head()

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLAYER_NAME
0,893,1984-85,00,1610612741,CHI,22.0,82,82,3144,837,...,167,367,534,481,196,69,291,285,2313,Michael Jordan
1,893,1985-86,00,1610612741,CHI,23.0,18,7,451,150,...,23,41,64,53,37,21,45,46,408,Michael Jordan
2,893,1986-87,00,1610612741,CHI,24.0,82,82,3281,1098,...,166,264,430,377,236,125,272,237,3041,Michael Jordan
3,893,1987-88,00,1610612741,CHI,25.0,82,82,3311,1069,...,139,310,449,485,259,131,252,270,2868,Michael Jordan
4,893,1988-89,00,1610612741,CHI,26.0,81,81,3255,966,...,149,503,652,650,234,65,290,247,2633,Michael Jordan

In [16]:
goat_career_df.shape

(58, 28)

In [17]:
goat_career_df.columns

Index(['PLAYER_ID', 'SEASON_ID', 'LEAGUE_ID', 'TEAM_ID', 'TEAM_ABBREVIATION',
       'PLAYER_AGE', 'GP', 'GS', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A',
       'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL',
       'BLK', 'TOV', 'PF', 'PTS', 'PLAYER_NAME'],
      dtype='object')

##OBSERVAMOS LA NO EXISTENCIA DE DATOS NULOS

In [18]:
goat_career_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 28 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PLAYER_ID          58 non-null     int64
 1   SEASON_ID          58 non-null     object
 2   LEAGUE_ID          58 non-null     object
 3   TEAM_ID            58 non-null     int64
 4   TEAM_ABBREVIATION  58 non-null     object
 5   PLAYER_AGE         58 non-null     float64
 6   GP                 58 non-null     int64
 7   GS                 58 non-null     int64
 8   MIN                58 non-null     int64
 9   FGM                58 non-null     int64
 10  FGA                58 non-null     int64
 11  FG_PCT             58 non-null     float64
 12  FG3M               58 non-null     int64
 13  FG3A               58 non-null     int64
 14  FG3_PCT            58 non-null     float64
 15  FTM                58 non-null     int64
 16  FTA                58 non-null     int64
 17  FT_PCT             58 non-null     float64
 18  OREB               58 non-null     int64
 19  DREB               58 non-null     int64
 20  REB                58 non-null     int64
 21  AST                58 non-null     int64
 22  STL                58 non-null     int64
 23  BLK                58 non-null     int64
 24  TOV                58 non-null     int64
 25  PF                 58 non-null     int64
 26  PTS                58 non-null     int64
 27  PLAYER_NAME        58 non-null     object
dtypes: float64(4), int64(20), object(4)
memory usage: 12.8+ KB

In [19]:
goat_career_df.isna().any()

PLAYER_ID            False
SEASON_ID            False
LEAGUE_ID            False
TEAM_ID              False
TEAM_ABBREVIATION    False
PLAYER_AGE           False
GP                   False
GS                   False
MIN                  False
FGM                  False
FGA                  False
FG_PCT               False
FG3M                 False
FG3A                 False
FG3_PCT              False
FTM                  False
FTA                  False
FT_PCT               False
OREB                 False
DREB                 False
REB                  False
AST                  False
STL                  False
BLK                  False
TOV                  False
PF                   False
PTS                  False
PLAYER_NAME          False
dtype: bool

##ELIMINAMOS COLUMNAS QUE NO HARÁN PARTE DE NUESTRO ANÁLISIS

In [20]:
columns_to_drop = [
    "LEAGUE_ID",
    "TEAM_ID",
    "FGM", "FGA",
    "FG3M", "FG3A",
    "FTM", "FTA", "OREB", "DREB"
]

goat_career_clean = goat_career_df.drop(columns=columns_to_drop)

In [21]:
goat_career_clean.columns

Index(['PLAYER_ID', 'SEASON_ID', 'TEAM_ABBREVIATION', 'PLAYER_AGE', 'GP', 'GS',
       'MIN', 'FG_PCT', 'FG3_PCT', 'FT_PCT', 'REB', 'AST', 'STL', 'BLK', 'TOV',
       'PF', 'PTS', 'PLAYER_NAME'],
      dtype='object')

In [22]:
first_cols = ["PLAYER_ID", "PLAYER_NAME"]
other_cols = [c for c in goat_career_clean.columns if c not in first_cols]

goat_career_clean = goat_career_clean[first_cols + other_cols]

##NOS QUEDAMOS CON NUESTRA BASE LIMPIA

In [23]:
goat_career_clean.head

<bound method NDFrame.head of     PLAYER_ID     PLAYER_NAME SEASON_ID TEAM_ABBREVIATION  PLAYER_AGE  GP  GS  \
0         893  Michael Jordan   1984-85               CHI        22.0  82  82
1         893  Michael Jordan   1985-86               CHI        23.0  18   7
2         893  Michael Jordan   1986-87               CHI        24.0  82  82
3         893  Michael Jordan   1987-88               CHI        25.0  82  82
4         893  Michael Jordan   1988-89               CHI        26.0  81  81
5         893  Michael Jordan   1989-90               CHI        27.0  82  82
6         893  Michael Jordan   1990-91               CHI        28.0  82  82
7         893  Michael Jordan   1991-92               CHI        29.0  80  80
8         893  Michael Jordan   1992-93               CHI        30.0  78  78
9         893  Michael Jordan   1994-95               CHI        32.0  17  17
10        893  Michael Jordan   1995-96               CHI        33.0  82  82
11        893  Michael Jordan   1996-97               CHI        34.0  82  82
12        893  Michael Jordan   1997-98               CHI        35.0  82  82
13        893  Michael Jordan   2001-02               WAS        39.0  60  53
14        893  Michael Jordan   2002-03               WAS        40.0  82  67
15        977     Kobe Bryant   1996-97               LAL        18.0  71   6
16        977     Kobe Bryant   1997-98               LAL        19.0  79   1
17        977     Kobe Bryant   1998-99               LAL        20.0  50  50
18        977     Kobe Bryant   1999-00               LAL        21.0  66  62
19        977     Kobe Bryant   2000-01               LAL        22.0  68  68
20        977     Kobe Bryant   2001-02               LAL        23.0  80  80
21        977     Kobe Bryant   2002-03               LAL        24.0  82  82
22        977     Kobe Bryant   2003-04               LAL        25.0  65  64
23        977     Kobe Bryant   2004-05               LAL        26.0  66  66
24        977     Kobe Bryant   2005-06               LAL        27.0  80  80
25        977     Kobe Bryant   2006-07               LAL        28.0  77  77
26        977     Kobe Bryant   2007-08               LAL        29.0  82  82
27        977     Kobe Bryant   2008-09               LAL        30.0  82  82
28        977     Kobe Bryant   2009-10               LAL        31.0  73  73
29        977     Kobe Bryant   2010-11               LAL        32.0  82  82
30        977     Kobe Bryant   2011-12               LAL        33.0  58  58
31        977     Kobe Bryant   2012-13               LAL        34.0  78  78
32        977     Kobe Bryant   2013-14               LAL        35.0   6   6
33        977     Kobe Bryant   2014-15               LAL        36.0  35  35
34        977     Kobe Bryant   2015-16               LAL        37.0  66  66
35       2544    LeBron James   2003-04               CLE        19.0  79  79
36       2544    LeBron James   2004-05               CLE        20.0  80  80
37       2544    LeBron James   2005-06               CLE        21.0  79  79
38       2544    LeBron James   2006-07               CLE        22.0  78  78
39       2544    LeBron James   2007-08               CLE        23.0  75  74
40       2544    LeBron James   2008-09               CLE        24.0  81  81
41       2544    LeBron James   2009-10               CLE        25.0  76  76
42       2544    LeBron James   2010-11               MIA        26.0  79  79
43       2544    LeBron James   2011-12               MIA        27.0  62  62
44       2544    LeBron James   2012-13               MIA        28.0  76  76
45       2544    LeBron James   2013-14               MIA        29.0  77  77
46       2544    LeBron James   2014-15               CLE        30.0  69  69
47       2544    LeBron James   2015-16               CLE        31.0  76  76
48       2544    LeBron James   2016-17               CLE        32.0  74  74
49       2544    LeBron James   2017-18               CLE        33.0  82  82
50       2544    LeBron James   2018-19               LAL        34.0  55  55
51       2544    LeBron James   2019-20               LAL        35.0  67  67
52       2544    LeBron James   2020-21               LAL        36.0  45  45
53       2544    LeBron James   2021-22               LAL        37.0  56  56
54       2544    LeBron James   2022-23               LAL        38.0  55  54
55       2544    LeBron James   2023-24               LAL        39.0  71  71
56       2544    LeBron James   2024-25               LAL        40.0  70  70
57       2544    LeBron James   2025-26               LAL        41.0  32  32

     MIN  FG_PCT  FG3_PCT  FT_PCT  REB  AST  STL  BLK  TOV   PF   PTS
0   3144   0.515    0.173   0.845  534  481  196   69  291  285  2313
1    451   0.457    0.167   0.840   64   53   37   21   45   46   408
2   3281   0.482    0.182   0.857  430  377  236  125  272  237  3041
3   3311   0.535    0.132   0.841  449  485  259  131  252  270  2868
4   3255   0.538    0.276   0.850  652  650  234   65  290  247  2633
5   3197   0.526    0.376   0.848  565  519  227   54  247  241  2753
6   3034   0.539    0.312   0.851  492  453  223   83  202  229  2580
7   3102   0.519    0.270   0.832  511  489  182   75  200  201  2404
8   3067   0.495    0.352   0.837  522  428  221   61  207  188  2541
9    668   0.411    0.500   0.801  117   90   30   13   35   47   457
10  3090   0.495    0.427   0.834  543  352  180   42  197  195  2491
11  3109   0.486    0.374   0.833  482  352  140   44  166  156  2431
12  3181   0.465    0.238   0.784  475  283  141   45  185  151  2357
13  2089   0.416    0.189   0.790  339  310   85   26  162  119  1375
14  3031   0.445    0.291   0.821  497  311  123   39  173  171  1640
15  1102   0.417    0.375   0.819  132   91   49   23  112  102   539
16  2056   0.428    0.341   0.794  242  199   74   40  157  180  1220
17  1896   0.465    0.267   0.839  264  190   72   50  157  153   996
18  2524   0.468    0.319   0.821  416  323  106   62  182  220  1485
19  2783   0.464    0.305   0.853  399  338  114   43  220  222  1938
20  3065   0.469    0.250   0.829  441  438  118   35  223  228  2019
21  3401   0.451    0.383   0.843  564  481  181   67  288  218  2461
22  2452   0.438    0.327   0.852  359  330  112   28  171  176  1557
23  2689   0.433    0.339   0.816  392  398   86   53  270  174  1819
24  3277   0.450    0.347   0.850  425  360  147   30  250  233  2832
25  3140   0.463    0.344   0.868  439  413  111   36  255  205  2430
26  3192   0.459    0.361   0.840  517  441  151   40  257  227  2323
27  2960   0.467    0.351   0.856  429  399  120   37  210  189  2201
28  2835   0.456    0.329   0.811  391  365  113   20  233  187  1970
29  2779   0.451    0.323   0.828  419  388   99   12  243  172  2078
30  2232   0.430    0.303   0.845  313  264   69   18  204  105  1616
31  3013   0.463    0.324   0.839  433  469  106   25  287  173  2133
32   177   0.425    0.188   0.857   26   38    7    1   34    9    83
33  1207   0.373    0.293   0.813  199  197   47    7  128   65   782
34  1863   0.358    0.285   0.826  247  184   62   13  129  115  1161
35  3120   0.417    0.290   0.754  432  465  130   58  273  149  1654
36  3388   0.472    0.351   0.750  588  577  177   52  262  146  2175
37  3361   0.480    0.335   0.738  556  521  123   66  260  181  2478
38  3190   0.476    0.319   0.698  526  470  125   55  250  171  2132
39  3027   0.484    0.315   0.712  592  539  138   81  255  165  2250
40  3054   0.489    0.344   0.780  613  587  137   93  241  139  2304
41  2966   0.503    0.333   0.767  554  651  125   77  261  119  2258
42  3063   0.510    0.330   0.759  590  554  124   50  284  163  2111
43  2326   0.531    0.362   0.771  492  387  115   50  213   96  1683
44  2877   0.565    0.406   0.753  610  551  129   67  226  110  2036
45  2902   0.567    0.379   0.750  533  488  121   26  270  126  2089
46  2493   0.488    0.354   0.710  416  511  109   49  272  135  1743
47  2709   0.520    0.309   0.731  565  514  104   49  249  143  1920
48  2795   0.548    0.363   0.674  639  646   92   44  303  134  1954
49  3026   0.542    0.367   0.731  709  747  116   71  347  136  2251
50  1937   0.510    0.339   0.665  465  454   72   33  197   94  1505
51  2316   0.493    0.348   0.693  525  684   78   36  261  118  1698
52  1504   0.513    0.365   0.698  346  350   48   25  168   70  1126
53  2084   0.524    0.359   0.756  459  349   73   59  196  121  1695
54  1954   0.500    0.321   0.768  457  375   50   32  178   88  1590
55  2504   0.540    0.410   0.750  518  589   89   38  245   78  1822
56  2444   0.513    0.376   0.782  546  575   70   39  260   99  1710
57  1056   0.509    0.322   0.736  182  212   37   18   89   46   704  >

In [24]:
goat_career_clean["MIN"].describe()

count      58.000000
mean     2581.879310
std       773.786001
min       177.000000
25%      2253.000000
50%      2889.500000
75%      3107.250000
max      3401.000000
Name: MIN, dtype: float64

In [25]:
#DEFINIMOS MÉTRICAS POR MINUTOS JUGADOS A LOS FINES DE TENER UN ANÁLISIS LIBRE DE SESGOS

In [26]:
goat_career_clean["PTS_PER_MIN"] = goat_career_clean["PTS"] / goat_career_clean["MIN"]
goat_career_clean["REB_PER_MIN"] = goat_career_clean["REB"] / goat_career_clean["MIN"]
goat_career_clean["AST_PER_MIN"] = goat_career_clean["AST"] / goat_career_clean["MIN"]
goat_career_clean["STL_PER_MIN"] = goat_career_clean["STL"] / goat_career_clean["MIN"]
goat_career_clean["BLK_PER_MIN"] = goat_career_clean["BLK"] / goat_career_clean["MIN"]

In [28]:
goat_career_clean[[
    "PLAYER_NAME",
    "SEASON_ID",
    "MIN",
    "PTS_PER_MIN",
    "REB_PER_MIN",
    "AST_PER_MIN",
    
]].head()

      PLAYER_NAME SEASON_ID   MIN  PTS_PER_MIN  REB_PER_MIN  AST_PER_MIN
0  Michael Jordan   1984-85  3144     0.735687     0.169847     0.152990
1  Michael Jordan   1985-86   451     0.904656     0.141907     0.117517
2  Michael Jordan   1986-87  3281     0.926852     0.131058     0.114904
3  Michael Jordan   1987-88  3311     0.866204     0.135609     0.146481
4  Michael Jordan   1988-89  3255     0.808909     0.200307     0.199693

#DEFINIMOS LA UTILIZACIÓN DE MÉTRICA "PER 36" UTILIZADA EN NBA PARA FINES ESTADÍSTICOS

In [27]:
goat_career_clean["PTS_PER_36"] = goat_career_clean["PTS_PER_MIN"] * 36
goat_career_clean["REB_PER_36"] = goat_career_clean["REB_PER_MIN"] * 36
goat_career_clean["AST_PER_36"] = goat_career_clean["AST_PER_MIN"] * 36
goat_career_clean["STL_PER_36"] = goat_career_clean["STL_PER_MIN"] * 36
goat_career_clean["BLK_PER_36"] = goat_career_clean["BLK_PER_MIN"] * 36

In [29]:
GOAT_METRICS = [
    "PTS_PER_MIN", "PTS_PER_36",
    "REB_PER_MIN", "REB_PER_36",
    "AST_PER_MIN", "AST_PER_36",
    "STL_PER_MIN",
    "BLK_PER_MIN",
    "FG_PCT",
    "FG3_PCT",
    "FT_PCT",
    "STL_PER_36",
    "BLK_PER_36"]

In [30]:
GOAT_TEST = goat_career_clean[
    ["PLAYER_ID", "PLAYER_NAME", "SEASON_ID"] + GOAT_METRICS
]

In [31]:
#AGREGAMOS POR JUGADOR PARA TENER UNA COMPARATIVA

In [32]:
goat_by_player = (
    GOAT_TEST
    .groupby(["PLAYER_ID", "PLAYER_NAME"], as_index=False)
    .mean(numeric_only=True)
)

In [33]:
goat_by_player[[
    "PLAYER_NAME",
    "PTS_PER_MIN",
    "PTS_PER_36",
    "REB_PER_36",
    "AST_PER_36",
    "FG_PCT",
    "FG3_PCT",
    "FT_PCT",
    "STL_PER_36",
    "BLK_PER_36"
]]

,PLAYER_NAME,PTS_PER_MIN,PTS_PER_36,REB_PER_36,AST_PER_36,FG_PCT,FG3_PCT,FT_PCT,STL_PER_36,BLK_PER_36
0,Michael Jordan,0.784648,28.247333,5.841686,4.901417,0.488267,0.283933,0.830933,2.197071,0.818693
1,Kobe Bryant,0.665517,23.958609,5.184368,4.732637,0.441400,0.317700,0.834950,1.425905,0.469394
2,LeBron James,0.717729,25.838236,7.226847,7.175182,0.508435,0.347696,0.735913,1.400416,0.693507

In [34]:
#CREAREMOS UN INDICE DE MÉTRICAS PARA PONDERAR CADA UNA Y EVALUAR A CADA JUGADOR

In [35]:
from sklearn.preprocessing import MinMaxScaler

metrics_for_index = [
    "PTS_PER_36",
    "REB_PER_36",
    "AST_PER_36",
    "STL_PER_36",
    "BLK_PER_36",
    "FG_PCT",
    "FG3_PCT",
    "FT_PCT"
]

In [36]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

goat_scaled = goat_by_player.copy()
goat_scaled[metrics_for_index] = scaler.fit_transform(
    goat_scaled[metrics_for_index]
)

In [37]:
#ASIGNAMOS PESO A LAS METRICAS

In [38]:

weights = {
    "PTS_PER_36": 0.25,
    "REB_PER_36": 0.15,
    "AST_PER_36": 0.15,
    "STL_PER_36": 0.05,
    "BLK_PER_36": 0.05,
    "FG_PCT": 0.15,
    "FG3_PCT": 0.10,
    "FT_PCT": 0.10
}

In [39]:
goat_scaled["GOAT_INDEX"] = sum(
    goat_scaled[m] * w for m, w in weights.items()
)

goat_final = goat_scaled[
    ["PLAYER_NAME", "GOAT_INDEX"]
].sort_values("GOAT_INDEX", ascending=False)

goat_final

      PLAYER_NAME  GOAT_INDEX
2    LeBron James    0.691648
0  Michael Jordan    0.609454
1     Kobe Bryant    0.154557

In [40]:
goat_final = goat_final.reset_index(drop=True)
goat_final.index += 1
goat_final.index.name = "RANK"
goat_final

         PLAYER_NAME  GOAT_INDEX
RANK
1       LeBron James    0.691648
2     Michael Jordan    0.609454
3        Kobe Bryant    0.154557

In [41]:
goat_career_df.to_csv(
    "/Users/lautarocardinisilvestri/Downloads/Ironhack/Semana 4/Proyecto NBA/API_goat_career_stats.csv",
    index=False
)